@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
   margin: 0;
   padding: 0;
   font-family: Poppins, sans-serif;
}

button {
   cursor: pointer;
}

/*-------VARIABLES-------*/
:root {
   --major-bg-color: #131921;
   --minor-bg-color: #ebeded;
   --amazon-major-color: #febd68;
}

/*-------BODY-------*/
body {
   background-color: var(--minor-bg-color);
}

/*-------HEADER-------*/
.header {
   width: 100%;
   height: 50px;
   background-color: var(--major-bg-color);
   display: flex;
   justify-content: center;
}

.site-navigation {
   margin-top: 2px;
   display: flex;
   justify-content: center;
}

.h-container {
   width: 1200px;
   height: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.amazon-logo {
   width: 100px;
}

.h-search {
   width: 50%;
   display: flex;
   justify-ccontent: center;
   align-items: center;
   align-content: center;
}

.search-input {
   padding 0 10px;
   width: 100%;
   height: 40px;
   border: 1px solid #ccc;
}

.search-btn {
   width: 40px;
   height: 42px;
   background-color: var(--amazon-major-color);
   border: 1px solid #ccc;
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   color: #232323;
}

.h-cart {
   color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
}

.h-cart svg {
   width: 40px;
   height: 40px;
}

/*-------SECTION 1-------*/
.sect1 {
   width: 100%;
   height: auto;
   background: url("../images/refresh-bg.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
}

.s1-container {
   margin: 250px 20px 20px;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   gap: 20px;
}

.s1-column {
   width: 100%;
   height: 200px;
   background-color: #fff;
   padding: 20px;
}

.s1-column img {
   margin-top: 10px;
   width: 45%;
   heght: auto;
}

.s1-column p {
   margin-top: 10px;
   font-size: 14px;
   color: #007185;
}

.s1-column button {
   margin-top: 20px;
   width: 100%;
   border: none;
   background-color: var(--amazon-major-color);
   padding: 8px;
   border-radius: 8px;
}

/*-------SECTION 2 RELATED ITEMS-------*/
.sect2 {
   margin: 20px;
   padding: 20px;
   background-color: #fff;
}

.s2-container h3 {
   margin-bottom: 10px;
}

.product-cards {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 20px;
   flex-wrap: nowrap;
   overflow: auto;
}

.card {
   display: inline-block;
   width: 300px !important;
   flex: 0 0 auto;
   justify-content: center;
   align-items: center;
}

.card img {
   width: auto;
   height: auto;
   max-width: 270px;
   max-height: 200px;
}

/*-------SECTION 3-------*/
.sect3 {
   background-color: #fff;
}

.s3-container {
   margin: 20px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   padding: 20px;
}

.product-details {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 20px;
   flex-wrap: nowrap;
   overflow: auto;
}

.pd-card {
   display: inline-block;
   width: 200px !important;
   flex: 0 0 auto;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 4px;
}

.product-img {
   width: 100%;
   display: flex;
   justify-content: center;
}

.product-img img {
   width: 100%;
   height: auto;
   max-width: 160px;
   max-height: 140px;
}

.price {
   font-weight: bold;
}

.pd-card a {
   text-decoration: none;
   color: #007185;
   font-size: 14px;
}

.pd-card a:hover, .pd-card a:focus {
   color: #c45500;
}

.delivered-by {
   color: #222;
   font-size: 10px;
}

/*--------SECTION 4-------*/
.sect4 {
   padding: 20px;
}

.s4-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.s4-container p {
   margin-top: 4px;
   font-size: 14px;
}

.s4-container button {
   width: 300px;
   border: none;
   background-color: var(--amazon-major-color);
   padding: 8px;
   border-radius: 10px;
}

/*-------FOOTER-------*/
footer {
   margin-top: 20px;
   font-size: 12px;
   width: 100%;
   height: 50px;
   color: #fff;
   background-color: var(--major-bg-color);
   display: flex;
   justify-content: center;
   align-items: center;
}

footer span {
   color: red;
}